<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
  <label>Airline:</label>
  <select name="airline">
    <option value="American (AAL)">American (AAL)</option>
    <option value="Southwest (WN)">Southwest (WN)</option>
    <option value="United (UAL)">United (UAL)</option>
  </select>
  <label>Flight Number:</label>
  <input type="text" name="flightNo">
  <label>Departure Airport</label>
  <select name="airport">
    <option value="SEA">Seattle (SEA)</option>
    <option value="AUS">Austin (AUS)</option>
    <option value="DAL">Dallas (DAL)</option>
    <option value="LAX">Los Angeles (LAX)</option>
  </select>
  <label>Departure Date:</label>
  <input type="datetime-local" name="departs">
  <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>